# IDE local files
.idea/
.vscode/
# Build Directories
build-debug/
build-release/
# CMake artifacts
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile
# Python Environment
venv/
.venv/
# AStyle
*.orig
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Javascript Glue Code
*.js
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.wasm
*.exe
*.out
*.app
